body {
    font-family: "Alegreya Sans SC", serif;
    background-color: #f1f1f1;
    background-image: url("../images/concrete_seamless.png");
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav_links {
    display: flex;
    flex-direction: column;
    align-items: center;
    color:blue;
}

.nav_links li a:visited {
    color:inherit;
}

.card > header {
    display: flex;
    background-color: #288088;
    border: 2px solid #45ADAD;
    padding: 20px 0px 20px 0px;
    border-radius: 7px 7px 0px 0px;
    position:static;
}

.pricing {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    flex-basis: 450px;
}

.gallery > img {
    border: 10px solid #50C7C7;
    margin: 10px 10px 10px 10px;
    width: 300px;
}

.gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap
}

header img {
    animation-name: movement;
    animation-duration: 5s;
    /* makes it not repeat */
    animation-fill-mode:forwards;
}

@keyframes movement {
    from {
        width: 50px;
        opacity:0;
    }
    to {
        width: 425px;
        opacity:1;
    }
}

@media screen and (min-width: 850px){
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: sticky;
        top: 0;
        right:0;
        left:0;
    }

    .nav_links {
        display: flex;
        flex-direction: row;
    }

    .card {
        flex-basis: 250px;
    }
}

@media (prefers-reduced-motion) {
    #logo {
        animation: none;
    }
}

@media print {
    body {
        background-image: none;
        font-family: serif;
    }
   
    
    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    nav {
        width: 100%;
    }

    .nav_links {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .pricing{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: flex-end;
    }
        
    .card {
        border: 2px solid #45ADDD;
        flex-basis: 250px;
    }

    #gallery,
    .gallery{
        display:none;
    }

    .card > ul li:nth-child(odd):before {
        content: "👍";
      }

    .card > ul li:nth-child(even):after {
        content: "👍";
    }

}